@import "./variables/global.scss";
@import "../../node_modules/normalize-scss/sass/normalize";
@import "./themes/light";
@import "./themes/dark";

.app {
  font: var(--font-m);

  background-color: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}