.root {
  --dark-grey: #2f3136;
  --darkest-grey: #202225;
  --lighter-grey: #36393f;
  --more-lighter-grey: #42464d;
  --lightest-grey: #b9bbbe;
  --white: #fff;
  --blue: #5865f2;
  --red: #ed4245;
  --green: #3ba55c;
  --yellow: #faa61a;
  --purple: #9e6af6;
}
