.root {
  --dark-grey: #2F3136;
  --darkest-grey: #202225;
  --lighter-grey: #36393F;
  --more-lighter-grey: #42464D;
  --lightest-grey: #B9BBBE;
  --white: #FFFFFF;
  --blue: #5865F2;
  --red: #ED4245;
  --green: #3BA55C;
  --yellow: #FAA61A;
  --purple: #9E6AF6;

}