.app.dark{
  --bg-color: #202225;
  --bg-color-inverted: #e3e5e8;

  --primary-color: #ffffff;
  --secondary-color: #b9bbbe;
  --primary-color-inverted: #000000;
  --secondary-color-inverted: #5e6772;
}