.app_light_theme {
  --bg-color: #e3e5e8;
  --bg-color-inverted: #202225;
  --primary-color: #000;
  --secondary-color: #5e6772;
  --primary-color-inverted: #fff;
  --secondary-color-inverted: #b9bbbe;
}
