.appButton {
    padding: 5px 8px;
    cursor: pointer;
    color: var(--primary-color-inverted);
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outlined {
    background: none;
    border: 1px solid var(--primary-color-inverted);
}
